
.korzinaMain{
display: flex;
flex-direction: column;
}
.mainCP{
    font-family: hl, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.korzinaMainObj{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.werto{
    display: flex;
    justify-content: space-between;
}
.werto img{
    width: 20px;
    height: 20px;
}

.werto img:hover{
    cursor: pointer;
    opacity: 0.5;
}