.addventure {
    width: 100%;
    margin-top: 10px;
    height: 150px;
    margin-left: 1%;
}

.addventure img {
    width: 100%;
    height: 100%;
}

.addventure img:hover {
    opacity: 0.75;
}


.addMain {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 1%;
}

.addMain img {
    cursor: pointer;
    width: 200px;
    border-radius: 20px;
}

.addMain img:hover {
    opacity: 50%;
}

.hiden {
    display: none !important;
}

.add {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1%;
    margin-top: 10px;
}

.add img {
    width: 100%;
    height: 100%;
}

.add img:hover {
    opacity: 0.75;
}

.addColaider {
    width: 370px;
    height: 400px;

}

.addColaider img {
    border-radius: 20px 0px 0px 0px;
}

.addBurger {
    width: 400px;
    height: 200px;
}

.addBottom {
    display: flex;
}

.addBottom img {
    width: 200px;
    height: 200px;
}

.addSport {
    width: 300px;
    height: 400px;
}

.mainCard {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.Tovars {
    font-family: hl, Arial, sans-serif;
    padding: 20px;
}

@media(max-width: 1110px) {
    .addColaider {
        width: 250px;
        height: 250px;
    }

    .addBurger {
        width: 300px;
        height: 120px;
    }

    .addBottom img {
        width: 150px;
        height: 130px;
    }

    .addSport {
        width: 150px;
        height: 250px;
    }
}
@media(max-width: 740px) {
    .addColaider {
        width: 150px;
        height: 150px;
    }

    .addBurger {
        width: 200px;
        height: 80px;
    }

    .addBottom img {
        width: 100px;
        height: 70px;
    }

    .addSport {
        width: 100px;
        height: 150px;
    }
}
@media(max-width: 460px) {
    .addColaider {
        width: 100px;
        height: 100px;
    }

    .addBurger {
        width: 120px;
        height: 50px;
    }

    .addBottom img {
        width: 60px;
        height: 50px;
    }

    .addSport {
        width: 70px;
        height: 100px;
    }
}